@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
.body {
  background-color: #6f4518;
  margin: 0;
  font-weight: normal; }

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-areas: "nav nav nav nav " "header header header header " "header header header header " "header header header header " "header header header header " "main main main main " "main main main main " "main main main main " "aside aside aside aside " "footer footer footer footer"; }

.grid-nav {
  grid-area: nav;
  width: 100%;
  display: inline-block;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  position: fixed;
  z-index: 8;
  backdrop-filter: blur(5px); }

.menu-container {
  margin: 5px;
  padding: 5px;
  display: flex; }

.login {
  color: white;
  left: 0;
  margin: 5px 5px 0 5px;
  padding: auto;
  transition: all 0.5s; }

.login:hover {
  position: relative;
  top: 5px;
  color: blueviolet; }

.canasta {
  color: white;
  margin: 5px 5px 0 5px;
  padding: auto;
  transition: all 1s; }

.canasta:hover {
  position: relative;
  top: 5px;
  color: blueviolet; }

.menu {
  position: relative;
  transition: all 0.5s; }

.menu:hover {
  margin-top: 10px; }

.menu img {
  position: relative;
  width: 25px;
  transform: rotate(0deg);
  transition: all 1s; }

.menu img:hover {
  width: 25px;
  transform: rotate(180deg); }

.buscador {
  margin-top: -10px;
  position: relative;
  transition: all 0.5s; }

.buscador:hover {
  margin-top: 4px; }

.logotipo img {
  position: absolute;
  right: 20px;
  width: 60px;
  margin-top: -20px; }

.grid-header {
  grid-area: header;
  display: flex;
  width: 100%;
  height: 538px; }

.grid-header div {
  background: no-repeat cover;
  display: flex;
  width: 100%; }

.img-animation {
  background: no-repeat;
  background-size: 100%;
  animation-name: animationXD;
  animation-duration: 20s;
  animation-iteration-count: infinite; }

.img-logo {
  position: absolute;
  justify-content: center;
  justify-items: center;
  top: 80px;
  width: 40% !important;
  margin: 0 30%;
  z-index: 10; }

.img-logo img {
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.wave {
  background: no-repeat;
  position: absolute;
  bottom: 118.5px;
  z-index: 5; }

@keyframes animationXD {
  0% {
    background-image: url(../img/coffeeGrano.jpg); }
  33% {
    background-image: url(../img/coffee.jpg); }
  66% {
    background-image: url(../img/moka.jpg); }
  100% {
    background-image: url(../img/ropa.jpg); } }

.grid-aside {
  grid-area: aside; }

.socialmedia {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 290px;
  margin: 5px 0px;
  padding: 50px 0px;
  position: fixed;
  list-style: none;
  bottom: 5px;
  z-index: 10; }

.socialmedia ul li {
  padding: 5px;
  margin: 0px auto;
  list-style: none; }

.icons {
  transition: all 0.4s;
  justify-items: center;
  color: #011627; }

.icons:hover {
  position: relative;
  bottom: 5px;
  color: lightblue;
  border-radius: 40px; }

.socialmedia div {
  content: "";
  display: block;
  width: 3px;
  height: 100px;
  margin: 0px auto;
  background-color: #011627; }

.grid-main {
  grid-area: main;
  background: linear-gradient(180deg, #020024 0%, #090979 20%, #082a8f 34%, #035d6e 100%);
  width: 100%;
  height: auto;
  text-decoration: none;
  padding-top: 50px; }

.container {
  margin: 40px 80px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Titulo Titulo Titulo Titulo" "foto foto Description Description" "foto foto Description Description"; }

.Titulo {
  grid-area: Titulo;
  text-align: center;
  font-size: 60px;
  font-family: "Merriweater";
  color: white; }

.foto {
  grid-area: foto;
  border-radius: 20px; }

#img1 {
  margin: 5px;
  background-image: url(../img/coffee.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#img3 {
  background-image: url(../img/ropa.jpg);
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover; }

.Description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Text Text Text" "Text Text Text" "Link Link Link";
  grid-area: Description; }

.Text {
  grid-area: Text;
  color: white;
  font-size: 20px; }

.Link {
  grid-area: Link;
  margin: auto; }
  .Link a {
    border: 3px solid #3a0ca3;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 4px;
    transition: all 1s; }
  .Link a:hover {
    background: #560bad;
    font-size: 25px;
    color: white; }

.container2 {
  margin: 40px 80px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titulo2 titulo2 titulo2 titulo2" "description2 description2 foto2 foto2" "description2 description2 foto2 foto2"; }

.titulo2 {
  grid-area: titulo2;
  text-align: center;
  font-size: 60px;
  font-family: "Merriweater";
  color: white; }

.description2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.7fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "text2 text2 text2" "text2 text2 text2" "link2 link2 link2";
  grid-area: description2; }

.link2 {
  grid-area: link2;
  margin: auto; }
  .link2 a {
    border: 3px solid #3a0ca3;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 4px;
    transition: all 1s; }
  .link2 a:hover {
    background: #560bad;
    font-size: 25px;
    color: white; }

.text2 {
  grid-area: text2;
  color: white;
  font-size: 20px; }

.foto2 {
  grid-area: foto2;
  border-radius: 20px; }

#img2 {
  margin: 5px;
  background-image: url(../img/moka.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

#img4 {
  background-image: url(../img/Nosotros.jpg);
  background-position: 50%;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background: #1b1c24; }

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.3fr 1.5fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "contacto contacto contacto contacto" "ubicacion navegacion nosotros noticias" "empresa empresa empresa empresa"; }
  .footer div h1 {
    color: white;
    text-align: center;
    margin: 10px 0;
    font-size: 1.5em; }

#contacto {
  grid-area: contacto; }
  #contacto form {
    width: 50%;
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: auto;
    background-color: #1f2230;
    animation: bounce 3s infinite; }
  #contacto legend {
    text-align: center;
    font-size: 40px;
    font-family: "Merriweather";
    color: white; }

@keyframes bounce {
  0% {
    tranform: translate(0, 4px); }
  50% {
    transform: translate(0, 8px); } }

#name {
  border: none;
  border-radius: 10px;
  background: #0f1016;
  border-bottom: 22px white;
  color: white; }

#email {
  background: #0f1016;
  border: none;
  border-radius: 10px;
  margin: auto;
  color: white; }

#areatext {
  background: #0f1016;
  border: none;
  border-radius: 10px;
  color: white;
  height: 10em;
  width: 100%; }

.ubicacion {
  grid-area: ubicacion; }
  .ubicacion div img {
    width: 60%;
    display: block;
    margin: auto; }
  .ubicacion ul {
    list-style: none;
    text-align: center;
    color: white; }
  .ubicacion ul li {
    margin: 5px; }

.navegacion {
  grid-area: navegacion; }
  .navegacion ul {
    list-style: none; }
  .navegacion ul li {
    margin: 5px; }
  .navegacion ul li a {
    text-decoration: none;
    color: white;
    transition: 1s; }
  .navegacion a:hover {
    font-size: 1.7em; }

.nosotros {
  grid-area: nosotros; }
  .nosotros ul {
    list-style: none; }
  .nosotros ul li {
    margin: 5px; }
  .nosotros ul li a {
    text-decoration: none;
    color: white;
    transition: 1s; }
  .nosotros a:hover {
    font-size: 1.7em; }

.noticias {
  grid-area: noticias; }
  .noticias div {
    margin: 10px;
    height: 350px;
    overflow: auto;
    overflow-y: opacity 0;
    border-radius: 10px; }

.empresa {
  grid-area: empresa; }

input {
  outline: none;
  position: absolute; }

input[type="search"] {
  appearance: text;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; }

input[type="search"] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 2px white;
  padding: 9px 10px 9px 32px;
  margin: 5px;
  left: 10px;
  width: 55px;
  border-radius: 10em;
  border-radius: 10em;
  border-radius: 10em;
  transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s; }

input[type="search"]:focus {
  width: auto;
  background-color: #fff;
  border-color: #66cc75;
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

input::placeholder {
  color: #999; }

input::placeholder {
  color: #999; }

#search {
  margin-left: 0;
  font: 90%/180% Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 96%;
  margin: 0 17%; }

#search input[type="search"] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer; }

#search input[type="search"]:hover {
  background-color: #fff; }

#search input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto; }

#search input:-moz-placeholder {
  color: transparent; }

#search input::-webkit-input-placeholder {
  color: transparent; }

@media only screen and (max-width: 50rem) {
  .logotipo {
    opacity: 0; }
  .grid-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px; }
  .img-animation {
    display: flex;
    flex-grow: 1;
    background: cover;
    width: 100%;
    height: 200px; }
  .img-logo {
    position: absolute;
    top: 50px;
    z-index: 6; }
  .wave {
    position: absolute;
    visibility: hidden; }
  /* servicios*/
  .grid-main {
    grid-area: main;
    width: 100%;
    height: auto;
    text-decoration: none;
    padding-top: 100px; }
  .container {
    display: flex;
    flex-wrap: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    height: 400px; }
  /* soscial media screen*/
  .grid-aside {
    grid-area: aside; }
  .socialmedia {
    background: #1b1c24;
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 10px;
    margin: 0;
    list-style: none;
    position: relative;
    bottom: 0; }
  .socialmedia ul {
    display: flex;
    padding: auto;
    margin: 0px auto;
    list-style: none;
    text-decoration: none; }
  .socialmedia ul li a {
    list-style: none;
    text-decoration: none; }
  .icons {
    display: flex;
    flex-direction: row-reverse;
    transition: all 0.5s;
    justify-items: center;
    color: #01060a;
    text-decoration-line: none; }
  .icons:hover {
    position: relative;
    bottom: 5px;
    color: #fff; }
  .socialmedia div {
    display: block;
    position: absolute;
    background: none;
    margin: 0px auto; }
  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "contacto" "navegacion " "nosotros " "noticias" "ubicacion " "empresa"; }
    .footer div {
      text-align: center; }
  #contacto {
    grid-area: contacto;
    text-align: start; }
    #contacto form {
      width: 90%; }
    #contacto legend {
      font-size: 30px; }
  .ubicacion {
    grid-area: ubicacion; }
    .ubicacion div img {
      width: 60%;
      display: block;
      margin: auto; }
    .ubicacion ul {
      list-style: none;
      text-align: center;
      color: white; }
    .ubicacion ul li {
      margin: 5px; }
  .navegacion {
    grid-area: navegacion; }
    .navegacion ul {
      list-style: none; }
    .navegacion ul li {
      margin: 5px; }
    .navegacion ul li a {
      text-decoration: none;
      color: white;
      transition: 1s; }
    .navegacion a:hover {
      font-size: 1.7em; }
  .nosotros {
    grid-area: nosotros; }
  .noticias {
    grid-area: noticias; }
  .empresa {
    grid-area: empresa; } }
