.grid-aside {
  grid-area: aside; }

.socialmedia {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 290px;
  margin: 5px 0px;
  padding: 50px 0px;
  position: fixed;
  list-style: none;
  bottom: 5px;
  z-index: 10; }

.socialmedia ul li {
  padding: 5px;
  margin: 0px auto;
  list-style: none; }

.icons {
  transition: all 0.4s;
  justify-items: center;
  color: #011627; }

.icons:hover {
  position: relative;
  bottom: 5px;
  color: lightblue;
  border-radius: 40px; }

.socialmedia div {
  content: "";
  display: block;
  width: 3px;
  height: 100px;
  margin: 0px auto;
  background-color: #011627; }
