.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-areas: "nav nav nav nav " "header header header header " "header header header header " "header header header header " "header header header header " "main main main main " "main main main main " "main main main main " "aside aside aside aside " "footer footer footer footer"; }
