$brown: #6a2535;
$beige: #0b4f6c;
$salmon: #20bf55;

.sign {
  margin: auto;
  padding: 0.5rem;
  box-shadow: 0 0 0 0.75rem $brown;
  background: #fef7e7;

  header {
    overflow: hidden;
    border: 0.25rem solid $brown;
    border-bottom: 0;
    position: relative;
    z-index: 0;

    h1 {
      background: $salmon;
      transform: skew(0deg, -15deg);
      padding: 5rem 0.5rem 0.5rem;
      margin: -3.25rem 0 3.25rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 5rem;
      line-height: 5rem;
      color: #fff;
      border-bottom: 0.25rem solid $brown;
    }
  }

  main {
    position: relative;
    z-index: 1;
    border-left: 0.25rem solid #6a2535;
    border-right: 0.25rem solid #6a2535;
    padding-top: 6rem;
    margin-top: -6rem;

    ol {
      display: grid;
      padding-left: 0;
      list-style: none;
      margin: 0;
    }

    li {
      counter-increment: inst;
      display: flex;
      gap: 1rem;
      font-size: 2rem;
      padding: 1rem 1rem;
      font-weight: 100;

      &:nth-child(even) {
        background: $salmon;

        &:before {
          box-shadow: 0.3rem 0.3rem 0 0 $beige;
        }
      }

      &:before {
        content: counter(inst);
        width: 2.5rem;
        height: 2.5rem;
        line-height: 1.5rem;
        display: flex;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        background: $brown;
        box-shadow: 0.3rem 0.3rem 0 0 $salmon;
        color: #fff;
        left: 0;
        top: 0;
      }
    }
  }

  footer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 10rem;
    background: $salmon;
    padding-top: 2rem;
    margin-top: -2rem;
    border-right: 0.25rem solid $brown;
    border-bottom: 0.25rem solid $brown;
    border-left: 0.25rem solid $brown;

    h2 {
      position: absolute;
      top: 2rem;
      width: 100%;
      padding: 0.5rem 0 0.75rem;
      text-align: center;
      background: $brown;
      color: #fff;
      border-bottom: 10rem solid $beige;
      transform: skew(0deg, -15deg);
      z-index: 2;
    }

    h3 {
      position: relative;
      z-index: 3;
      margin: 0;
      background: $beige;
      padding: 0.5rem;
      display: inline-flex;
      color: $brown;
      font-size: 1rem;
      border: 0.25rem solid $brown;
      border-bottom: 0;
    }
  }
}
