input {
  outline: none;
  position: absolute;
}

input[type="search"] {
  appearance: text;
  box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 2px white;
  padding: 9px 10px 9px 32px;
  margin: 5px;
  left: 10px;
  width: 55px;

  border-radius: 10em;
  border-radius: 10em;
  border-radius: 10em;
  transition: all 0.5s;
  transition: all 0.5s;
  transition: all 0.5s;
}

input[type="search"]:focus {
  width: auto;
  background-color: #fff;
  border-color: #66cc75;

  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input::placeholder {
  color: #999;
}
input::placeholder {
  color: #999;
}

#search {
  margin-left: 0;
  font: 90%/180% Arial, Helvetica, sans-serif;
  width: auto;
  max-width: 96%;
  margin: 0 17%;
}
#search input[type="search"] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#search input[type="search"]:hover {
  background-color: #fff;
}
#search input[type="search"]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#search input:-moz-placeholder {
  color: transparent;
}
#search input::-webkit-input-placeholder {
  color: transparent;
}

